<div class="card act" style="width: 30vw;" data-masonry-target="img">
  <div style="position: relative;">
    <%= image_tag "image_#{activity.code_image}.png" %>
  </div>
  <div class="container py-2 card-activities">
    <h4 class=" text-center "><%= activity.name%></h4>
    <div class="card-infos">
      <p class=" text-center "> <strong><%= activity.category %></strong></p>
      <p class="line-clamp"><%= activity.description %></p>
        <div class="d-flex justify-content-between w-100">
          <% if activity.price == 0.00 %>
            <h5>Free!</h5>
          <% else %>
             <h5>$ <%= activity.price %> </h5>
          <% end %>
          <h5><i class="far fa-clock pr-2"></i> <%= activity.formatted_duration%></h5>
        </div>
    </div>
    <div class="card-description">
      <p><%= activity.description%></p>
    </div>
  </div>
</div>
