<div id="accordion" class="card-day">
  <div class="card">
    <div class="card-header d-flex align-item-center justify-content-between" id="heading<%= index %>" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
      <h2 class="mb-0">Day n° <%= day.last[:day] %></h2>
      <i class="fas fa-chevron-down d-flex align-items-center"></i>
    </div>

    <div id="collapse<%= index %>" class="collapse <%= index == 0 ? 'show' : ''%>" aria-labelledby="heading<%= index %>" data-parent="#accordion">
      <div class="card-body">
        <%# <div class="container py-2 d-flex"> %>
          <% day.each do |step| %>
            <% if step[:type] == "ride" %> <%#&& ((step[:from] || step[:to]) != "origin")><%>
              <% @activity_from = Activity.find(step[:from_id]) %>
              <% @activity_to = Activity.find(step[:to_id]) %>
              <div>
              <h3 style="margin: 40px 0px 0px 0px;"><i class="fas fa-car-side"></i><strong> From <%= @activity_from.name %> to <%= @activity_to.name %></strong></h3>
              <h3 style="margin: 5px 0px 10px 0px;"><i class="far fa-clock"></i> <%= Time.at(step[:duration]).utc.strftime("%kh%M") %> </h3>
              </div>
            <% end %>



            <% if step[:type] == "activity" && Activity.find(step[:id]) %>
              <% @activity = Activity.find(step[:id]) %>

              <h2 style="margin: 40px 0px 10px 0px;"><strong>Activity</strong></h2>
              <div class='accordion-card-activities'>
                <div>
                  <%= image_tag "image_#{@activity.code_image}.png" %>
                </div>
                <div class="content">
                  <p class="content-category"><i class="fas fa-landmark"></i> <%= @activity.category %></p>
                  <h3 class="text"><strong> <%= @activity.name %></strong></h3>
                  <div class="duration-drive">
                    <p> <i style="padding-right: 4px;" class="far fa-clock"></i>  duration: <%= @activity.formatted_duration %></p>

                  </div>
                  <p class='text-desc'><%= @activity.description %></p>
                </div>
              </div>


            <% end %>


          <% end %>
          <h2 style="margin: 40px 0px 10px 0px;"><strong>Hotel</strong></h2>
          <div class='accordion-card-activities'>
            <div class="image-hotel" style="background-image: url(<%= @hotel.img_link %>);">
            </div>
            <div class="content">
              <p class="content-category"><i class="far fa-star"></i> <%= @hotel.rating %></p>
              <% @hotel = Hotel.find(TripHotel.where(trip: @trip, day: day.last[:day])[0].hotel_id) %>
              <div class="duration-drive">
              <h5><i class="fas fa-bed"></i> <strong><%= @hotel.name %></strong></h5>
              <p><i style="padding-right: 13px;" class="fas fa-map-pin"></i> <em><%= @hotel.address %></em></p>
              </div>
            </div>
          </div>
        <%# </div> %>

         <h3 style="margin: 40px 0px 40px 0px;"> Total duration: <%= Time.at(day[-2][:totalDayDuration]).utc.strftime("%kh%M")%></h3>
      </div>
    </div>
  </div>
</div>
