<div id="accordion" class="card-day">
  <div class="card">
    <div class="card-header d-flex align-item-center justify-content-between" id="heading<%= index %>" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
      <h3 class="mb-0">Day n° <%= day.last[:day] %></h3>
      <i class="fas fa-chevron-down d-flex align-items-center"></i>
    </div>

    <div id="collapse<%= index %>" class="collapse <%= index == 0 ? 'show' : ''%>" aria-labelledby="heading<%= index %>" data-parent="#accordion">
      <div class="card-body">
        <p><strong>Total duration:</strong> <%= Time.at(day[-2][:totalDayDuration]).utc.strftime("%H:%M:%S") %></p>
        <% day.each do |step| %>
          <% if step[:type] == "ride" %> <%#&& ((step[:from] || step[:to]) != "origin")><%>
            <% @activity_from = Activity.find(step[:from_id]) %>
            <% @activity_to = Activity.find(step[:to_id]) %>
            <p>
              Driving from <strong><%= @activity_from.name %></strong> to <strong><%= @activity_to.name %></strong>
              ( Driving time : <%= Time.at(step[:duration]).utc.strftime("%H:%M:%S") %> )
            </p>
          <% end %>

          <% if step[:type] == "activity" %>
            <% @activity = Activity.find(step[:id]) %>

            <h4 class="space-activity"><em>Activity: <%= @activity.name %></em></h4>
            <p><strong>Duration:</strong> <%= @activity.duration %> minutes</p>
            <p><strong>Category:</strong> <%= @activity.category %></p>
            <p><strong>Description:</strong> <%= @activity.description %></p>

          <% end %>

          <%# <% if step[:type] == "ride" && step[:to] == "origin" %>

        <% end %>
        <h5><em>Your hotel for the night :</em></h5>
        <% @hotel = Hotel.find(TripHotel.where(trip: @trip, day: day.last[:day])[0].hotel_id) %>
        <p><%= @hotel.name %></p>
        <p><%= @hotel.address %></p>
        <p><%= @hotel.rating %></p>
        <div style="background-image: url(<%= @hotel.img_link %>); width: 250px; height: 250px; object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>
