<div class="bgSizeContain">
  <div class="top-infos">
    <h2><%= flight.departure %></h2>
  <%=image_tag("plane.svg", width: 50, class:"margin-to-plane #{'rotate-flight' if !flight.departure_flight }")%>
    <h2><%= flight.arrival %></h2>
  </div>

  <p class="ticket-dates"><%= flight.departure_date.strftime("%d %B %Y") if flight.departure_date %> to <%= flight.arrival_date.strftime("%d %B %Y") if flight.arrival_date %></p>
  <div class="ticket-duration">
    <span><i class="far fa-clock pr-2"></i><%= flight.flight_duration.split(' ').join if flight.duration%></span>
    <span>Direct</span>
  </div>
  <div class="bottom-infos">
    <span class="ticket-price"><i class="fas fa-dollar-sign"></i> <%= flight.price %></span>
    <%# <p>Operated by <%= flight.compagnie_name %>
    <%= image_tag("https://daisycon.io/images/airline/?width=150&height=50&iata=#{ flight.compagnie_name }") %>
  </div>
</div>
