<div class="container mt-4">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <%= simple_form_for @trip do |f| %>
      <%= f.input :departure_flight, input_html: { class: 'select2'}, collection: Trip::AIRPORTS_ORIGIN %>
      <%= f.input :arrival_flight, input_html: { class: 'select2'}, collection: Trip::AIRPORTS_DESTINATION %>

      <%= f.input :start_date, as: :string, label: "Date of departure", placeholder: 'jj/mm/yyyy', required: false, input_html: {class: "datepicker"} %>
      <%= f.input :duration, label: 'How many days?', placeholder: 'days' %>
      <%= f.hidden_field :destination, value: @destination %>
      <%# <%= f.input label: "rounded ?", type="checkbox" value="false" %>
      <%= f.input :nb_people, label: "Number of traveller ?" %>
      <%= f.submit "Start your trip", class: 'btn btn-outline-secondary rounded' %>
    <% end %>
  </div>
</div>
