<div class="d-flex">
  <div class="container mt-4 p-4">
    <div class="text-align-center">
      <h2>Your Trip's summary :</h2>
    </div>
    <p>Arriving at <%= Activity.find(@trip_summary[:originPointActivityId]).name %>'s Airport</p>
    <% @all_days.each_with_index do |day, index| %>
      <%= render 'trips/day', day: day, index: index %>
    <% end %>
  </div>

  <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-route="<%= @routes.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>