
<div class="py-5 ">
  <div class="center-choose pt-5">
    <h1 >Your Trip's summary :</h1>
    <h2>Arriving at <%= Activity.find(@trip_summary[:originPointActivityId]).name %>'s Airport</h2>
  </div>


  <div class="d-flex justify-content-around">
    <div id="days-container" class="container p-4">
      <% @all_days.each_with_index do |day, index| %>
        <%= render 'trips/day', day: day, index: index %>
      <% end %>
    </div>

    <div class="map-container">
      <div id="map"
        style="width: 500px; height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-markers_hotels="<%= @markers_hotels.to_json %>"
        data-route="<%= @routes.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
