<div class="navbar navbar-expand-sm navbar-light navbar-transparent navbar-lewagon">
  <ul class="navbar-nav d-flex justify-content-between">
    <li class="nav-item">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://image.flaticon.com/icons/png/512/201/201623.png" %>
      <% end %>
    </li>
    <li class="nav-item">
      <p class="pt-3">Simple Trip</p>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-between">
      <% if user_signed_in? %>
      <li class="nav-item px-3">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item px-2" >
        <%= link_to "Dashboard", dashboard_path, class: "nav-link"%>
      </li>

      <li class="nav-item px-5">
        <%= link_to "My account", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= image_tag "https://cours-informatique-gratuit.fr/wp-content/uploads/2017/10/avatar.png", class: "avatar", id: "navbar",
            data: { toggle: "dropdown"},
            aria: { haspopup: true, expanded: false} %>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <%#<%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
          <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
